.contact-form {
  background: linear-gradient(rgba(45, 103, 60, 0.8), rgba(45, 103, 60, 0.8)),
    url('@/assets/img/stand_de_tir_saint_leger.jpg');
  background-size: cover;

  &__form {
    background-color: rgb(245, 245, 245);
    border-radius: 5px;

    &__title {
      font-family: $primaryPolice;
      color: gray;
    }

    label {
      font-weight: bold;
      color: gray;
    }

    &__button button {
      background-color: $primaryColor;
      font-size: large;

      &:hover {
        border: 1px solid $primaryColor;
        background-color: white;
        color: $primaryColor;
      }
    }
  }
}
