.home-presentation {
    font-size: 20px;
    color: gray;
}

.discipline-presentation {
    background-color: $primaryColor;

    .card {
        background-color: rgb(250, 246, 246);;
    }

    &__header {
        background-color: white !important;
    }

    &__content {
        background-color: white;
        border-radius: 5% 0 0 5%;
        font-size: 20px;
        color: gray;

        p {
            text-align: start;
        }
    }

    img {
        border-radius: 5% 0 0 5%;
    }
}

.card-presentation {
    background-color: rgb(250, 246, 246);
    color: gray;

    h2 {
        font-size: 50px;
        font-family: $primaryPolice;
    }

    img {
        height: 200px;
        width: 100%;
    }

    h5 {
        font-size: 30px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    a {
        background-color:  $primaryColor;
    }
}

.map {
    // background-image: url('@/assets/img/stand_de_tir_saint_leger.jpg');
    // background-position: center;
    // background-size: 100%;
    background-color: rgb(250, 246, 246);
}

.footer {
    background-color: white;

    img {
        width: 40%;
    }

    &__first-column, &__third-column {
        color: black;
        font-size: 15px;

    }

    a {
        text-decoration: none;
        color: black;
    }
}
