#calendar {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    color: #2c3e50;
    height: 60vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;

    .cv-wrapper {
        border-radius: 15px;
    }

    .cv-header {
        background-color: $primaryColor !important;
    }
}