.menu_nav {
  &__navbar {
    &__brand {
      color: $primaryColor !important;
      font-family: $primaryPolice !important;
      font-weight: bold;
      font-size: 25px !important;
    }

    .nav-item {
      font-weight: 600;
    }

    .button-primary {
      border: 2px solid $primaryColor;
      border-radius: 5%;

      a {
        color: $primaryColor !important;
      }
    }
  }
}
